/* styles.css */
.scrollable-tabs::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}

/* CSS cho TabsList */
.tabsList {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: var(--backgroundColor-main);
  border-bottom: 1px solid #223a76;
  border-radius: 0;
  position: relative; /* Để pseudo-element hoạt động */
}

.tabsList::after {
  content: "";
  position: absolute;
  bottom: -1px; /* Đặt ngay dưới border của TabsList */
  height: 2px; /* Độ dày của border mới */
  width: 50%; /* Chiều dài của border mới */
  background-color: #ff453a; /* Màu mặc định */
  transition: all 0.3s;
}

/* Sử dụng JS để thêm class này vào TabsList khi tab tương ứng được chọn */
.borderLeft::after {
  left: 0;
  background-color: #f7b502; /* Màu khi tab 'Cược đang chờ' được chọn */
}

.borderRight::after {
  right: 0;
  background-color: #ff453a; /* Màu khi tab 'Cược đã kết thúc' được chọn */
}
