/* styles.css */
.scrollable-tabs::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}

/* CSS cho TabsList */
.tabsList {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #223a76;
  border-radius: 0;
  /* position: relative; */
}

.tabsList::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 30%;
  background: #60d1ff;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
}

.borderLeft::after {
  left: 31px;
  background: #60d1ff;
}
.borderRight::after {
  right: 16px;
  background: #60d1ff;
}
