div[data-radix-popper-content-wrapper] {
  width: 100%;
  height: 100%;
  transform: translate(0px 39px) !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

div[id="radix-:r2:"] {
  border: none;
  top: 290px;
  height: 85%;
  overflow-y: auto;
  padding: 0;
}
