div[data-radix-popper-content-wrapper] {
  width: 100%;
  height: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

div[role="dialog"] {
  border: none;
  top: 275px;
}
