@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    .body-lock {
      overflow: hidden;
      position: fixed;
      width: 100%;
    }
    @apply text-foreground;
  }
}
